@media screen and (max-width:640px){
   .container .deck{
     width: 330px;
     min-height: 340px;
    padding: 20px;
}
.deck .card{
  height: 63px;
  width: 63px;
}
#dialogBoxAlert {
  width: 15rem;
  height: 15rem;
  margin-top: 2.5rem;
}
}
@media screen and (max-width:350px){
  .container .deck{
    width: 300px;
    min-height: 300px;
   padding: 15px;
}
.score-panel .restart{
  margin-left: 0.5rem;
}
.score-panel .moves {
  margin-right: 15px;
}
.container {
align-self: center;
}
}